<div class="container mt-3">
  <div class="col-md-8">
    <a href="/contact/add" class="btn btn-primary btn-sm rounded-0 mb-2"
      >Tambah Contact</a
    >
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>No</th>
          <th>Nama</th>
          <th>No HP</th>
          <th>Opsi</th>
        </tr>
      </thead>
      <tbody>
        <% if (contacts.length == 0) { %>
        <tr>
          <td colspan="4">
            <div class="alert alert-danger fw-bold" role="alert">
              Data contact masih kosong
            </div>
          </td>
        </tr>
        <% }else{ %> <% contacts.forEach((contact,i) => { %>
        <tr>
          <td><%=(i+1)%></td>
          <td><%=contact.name %></td>
          <td><%=contact.nohp %></td>
          <td>
            <a
              href="/contact/<%=contact.id%>"
              class="btn btn-primary badge rounded-pill"
              >Detail</a
            >
          </td>
        </tr>
        <% }) } %>
      </tbody>
    </table>
  </div>
</div>
