<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Form Data Product</h3>
      <form action="/contact" method="post">
        <div class="mb-3">
          <label for="name">Nama</label>
          <input
            type="text"
            name="name"
            id="name"
            class="form-control"
            placeholder="Nama"
            required
          />
        </div>
        <div class="mb-3">
          <label for="price">Harga</label>
          <input
            type="number"
            id="price"
            name="price"
            placeholder="Harga"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="description">Deskripsi</label>
          <textarea
            class="form-control"
            name="description"
            id="description"
            placeholder="Deskripsi"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-sm rounded-0">
          Simpan
        </button>
      </form>
    </div>
  </div>
</div>
